@model HedgefundMe.com.ViewModels.TradeHistoryViewModel
@using HedgefundMe.com.Models 
@using HedgefundMe.com;
@{
    ViewBag.Title = "Closed Trade History";
}

<div class="container rounded">
    <div class="row blue">
        <div class="col-sm-12" style="color:white;">
            <img class="pull-left smallimg" title="Closed Trades" alt="Closed Trades" src="@Url.Content("~/images/todaystrades.png")" />
            <h4>&nbsp;&nbsp;Today's Closed Trades</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <p>
                @Html.ActionLink("Today's Trades", "History", "Blotter", null, new { title = "View todays trades." }) |
                 @Html.ActionLink("Open Trades", "Open", "Blotter", null, new { title = "View the history of open trades." }) | 
                 @Html.ActionLink("All Trades", "All", "Blotter", null, new { title = "View the history of all trades." }) 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered"> 
                    <tr>
                        <td colspan="3" style="text-align:right;">
                            <h5>
                                <span style="color:gray">
                                    Value:&nbsp;
                                </span>
                                @Html.DisplayFor(modelItem => Model.PortfolioTotal) <span style="color:@FinanceHelper.GetColor(Model.ClosedPnl)">
                                    @Html.DisplayFor(modelItem => Model.ClosedPnl)
                                </span>
                            </h5>
                            <h5>
                                <span style="color:gray"> Commision Cost: </span>&nbsp;
                                <span style="color:red"> @Html.DisplayFor(modelItem => Model.CommissionCostPerShare)</span>
                            </h5>

                            <h5>
                                <span style="color:gray"> Commision Fees: </span>&nbsp;
                                <span style="color:red"> @Html.DisplayFor(modelItem => Model.CurrentCommissionCost)</span>
                            </h5>

                            <div style="border-top:1px grey solid"></div>
                            <h5>
                                Gain/Loss:&nbsp;
                                <span style="font-weight:bold;color:@FinanceHelper.GetColor(Model.GainAfterCommision)">
                                    @Html.DisplayFor(modelItem => Model.GainAfterCommision)
                                    <br />
                                    @Html.DisplayFor(modelItem => Model.FinalGainPct)
                                </span>
                            </h5>

                        </td>
                    </tr>

                    <tr>
                       
                        <td style="text-align:center;">
                            <h5>
                                Closed Longs
                                <br /> @Html.DisplayFor(t => t.BuyShareCount) Shares <br />
                                <span style="font-size:1.2em;font-weight:bold; color:@FinanceHelper.GetColor(Model.LongPnl)"> @Html.DisplayFor(modelItem => Model.LongPnl)</span>
                                <br /> 
                               
                            </h5>
                        </td> 
                        <td style="text-align:center;">
                            <h5>
                                Closed Shorts<br />
                                  @Html.DisplayFor(t => t.ShortShareCount) Shares 
                                <br />
                                <span style="font-size:1.2em;font-weight:bold; color:@FinanceHelper.GetColor(Model.ShortPnl)"> @Html.DisplayFor(modelItem => Model.ShortPnl)</span>
                                <br />
                                
                                 </h5>
                        </td> 
                        <td style="text-align:center;">
                            <h5>
                                All Closed <br />
                                @Html.DisplayFor(t => t.TotalShareCount) Shares
                                <br />
                                
                                <span style="font-size:1.2em;font-weight:bold; color:@FinanceHelper.GetColor(Model.ClosedPnl)">@Html.DisplayFor(modelItem => Model.ClosedPnl) </span>
                                <br />
                                
                            </h5>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                <text>Ticker:</text>
                <input type="text" placeholder="Filter…" name="ticker" value="@ViewBag.Ticker" class="input-sm" style="width:60px;" />
    <button type="submit" class="btn btn-primary btn-sm" style="margin: 2px;" title="Search">
        <span class="glyphicon glyphicon-search"></span>
    </button>
    <a href="/Blotter/Closed" class="btn btn-warning btn-sm" style="margin: 2px;" title="Clear Filter"><span class="glyphicon glyphicon-remove-circle"></span></a>

            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Today's Closed Trades (@Model.TodaysTrades.Count())</h4>
          
            @Html.Partial("_TradeHistoryPartial", Model)
        </div>
    </div>


</div>
