@model HedgefundMe.com.Models.TradeHistoryEntry
@using HedgefundMe.com
@{
    ViewBag.Title = "Trade History Details";
}
 
<h2>Trade is @Html.DisplayFor(model => model.State) </h2>
    <a href="/Blotter/Edit?id=@Model.ID" class="btn btn-warning">Edit Trade</a>
     <a href="/Blotter/Closed" class="btn btn-primary">Back To List</a>
<a href="/Blotter/Cancel?tradeidOpen=@Model.TradeIdOpen&tradeidClose=@Model.TradeIdClose" class="btn btn-danger" onclick="return confirm('You sure?');">Cancel Trade</a>

    <h4>
        Open Details


    </h4>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">

        <tr>

            <td colspan="2">@Html.DisplayFor(model => model.OpenDetails)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.TradeIdOpen)</td>
            <td>@Html.DisplayFor(model => model.TradeIdOpen)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.Ticker)</td>
            <td>@Html.DisplayFor(model => model.Ticker)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.Side)</td>
            <td>@Html.DisplayFor(model => model.Side)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.OpenAction)</td>
            <td>@Html.DisplayFor(model => model.OpenAction)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.Shares)</td>
            <td>@Html.DisplayFor(model => model.Shares)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.OpenPrice)</td>
            <td>@Html.DisplayFor(model => model.OpenPrice)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.OpenValue)</td>
            <td>@Html.DisplayFor(model => model.OpenValue)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.OpenDate)</td>
            <td>@Model.EasterTimeOpenDate()</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.TradingSettings)</td>
            <td>@Html.DisplayFor(model => model.TradingSettings)</td>
        </tr>

    </table>
</div>
    <h4>Close Details</h4>
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">

        <tr style="color:@FinanceHelper.GetColor(Model.GainLoss) !important">

            <td colspan="2">@Html.DisplayFor(model => model.CloseDetails)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.TradeIdClose)</td>
            <td>@Html.DisplayFor(model => model.TradeIdClose)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.Ticker)</td>
            <td>@Html.DisplayFor(model => model.Ticker)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.Side)</td>
            <td>@Html.DisplayFor(model => model.Side)</td>
        </tr>
        <tr style="color:@FinanceHelper.GetColor(Model.GainLoss) !important">

            <td>@Html.DisplayNameFor(model => model.CloseAction)</td>
            <td>@Html.DisplayFor(model => model.CloseAction)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.Shares)</td>
            <td>@Html.DisplayFor(model => model.Shares)</td>
        </tr>
        <tr style="color:@FinanceHelper.GetColor(Model.GainLoss) !important">

            <td>@Html.DisplayNameFor(model => model.ClosePrice)</td>
            <td>@Html.DisplayFor(model => model.ClosePrice)</td>
        </tr>
        <tr style="color:@FinanceHelper.GetColor(Model.GainLoss) !important">

            <td>@Html.DisplayNameFor(model => model.CloseValue)</td>
            <td>@Html.DisplayFor(model => model.CloseValue)</td>
        </tr>
        <tr>

            <td>@Html.DisplayNameFor(model => model.CloseDate)</td>
            <td>@Model.EasterTimeCloseDate()</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TradingSettings)</td>
            <td>@Html.DisplayFor(model => model.TradingSettings)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Strategy)</td>
            <td>@Html.DisplayFor(model => model.Strategy)</td>
        </tr>
        <tr style="color:@FinanceHelper.GetColor(Model.GainLoss) !important">
            <td>@Html.DisplayNameFor(model => model.GainLoss)</td>
            <td>@Html.DisplayFor(model => model.GainLoss)</td>
        </tr>
        <tr style="color:@FinanceHelper.GetColor(Model.GainLoss) !important">
            <td>@Html.DisplayNameFor(model => model.GainLossPct)</td>
            <td>@Html.DisplayFor(model => model.GainLossPct)</td>
        </tr>
    </table>
</div>















