@using HedgefundMe.com
@using HedgefundMe.com.Models
@using System.Configuration
@model HedgefundMe.com.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
} 
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/password_strength_plugin.js")" type="text/javascript"></script>
<div class="container rounded" style="margin-bottom:10px;">
    <div class="row" style="background-color: #1b2e48; ">
        <div class="col-sm-12" style="color:white;">
            <h2>Change Password</h2>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <p>Use this form to change your password.</p>
            @using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

                <div class="hidden">
                    @Html.TextBoxFor(m => User.Identity.Name, new { @name = "user_name", @id = "user_id" })
                </div>

                       <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="UserName">Old Password:</label>
                    <div class="controls">
                        @Html.PasswordFor(m => m.OldPassword)<br/>
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
                <!-- Password input-->
                <div class="control-group">
                    <label class="control-label" for="Password">New Password:</label>
                    <div class="controls">
                        @Html.PasswordFor(m => m.Password, new { @class = "password_test" })<br/>
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                 <!-- Password input-->
                <div class="control-group">
                    <label class="control-label" for="Password">Confirm New Password:</label>
                    <div class="controls">
                        @Html.PasswordFor(m => m.ConfirmPassword)<br/>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
              <!-- Button -->
                <div class="control-group">
                    <label class="control-label" for="submit"> </label>
                    <div class="controls">
                        <button id="submit" name="submit" class="btn btn-primary">Change Password</button>
                        <a><input type="button" class="btn btn-danger" value="Cancel" onclick="location.href='@Url.Content("~/Home/Index")'" /></a>
                    </div>
                </div>
                <br />

            }
            @if (ConfigurationManager.AppSettings["UsePasswordStrength"].ToLower() == "true")
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        //BASIC
                        $(".password_test").passStrength({
                            userid: "#user_id"
                        });
                    });
                </script>
            }
        </div>
</div>
</div>