@using System.Configuration
@using HedgefundMe.com
@model HedgefundMe.com.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}
 

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/password_strength_plugin.js")" type="text/javascript"></script>
 

@using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
   <div class="container rounded" style="margin-bottom:10px;">
    <div class="row" style="background-color: #1b2e48; ">
        <div class="col-sm-12" style="color:white;">
            <h3>Create An Account</h3>
        </div>
    </div>
       <div class="row white">
           <div class="col-sm-6"  >
                
                   <img src="~/images/rankings.png" alt="Today's Special" title="Today's Special" />
                   Special Introductory Rate 
                   <img src="~/images/rankings.png" alt="Today's Special" title="Today's Special" />
               
               <h2><span style="color:green">@Constants.SubscriptionCost </span></h2>
                
               <h5>What you get:</h5>
               <ul><li>Access to all services on the site at all times. </li> 
                    <li>Subscription access to Long and Short newsletters.</li>
                   <li>Hourly picks for longs and shorts during the trading day.</li>
                      <li>Free Trial Period of 30 days.</li>
                   <li>You can cancel your membership at anytime.</li> 
                   <li>We do not sell your information to anyone.</li>
                  

               </ul>
           </div>
       
           <div class="col-sm-6" style="padding:20px;">
              
               <div class="control-group">
                   <label class="control-label" for="Email">Email:</label>
                   <div class="controls">
                       @Html.EditorFor(model => model.Email)<br />
                       @Html.ValidationMessageFor(model => model.Email)
                   </div>
               </div>
               <div class="control-group">
                   <label class="control-label" for="Password">Password:</label>
                   <div class="controls">
                       @Html.PasswordFor(m => m.Password, new { @name = "password", @class = "password_test" })<br />
                       @Html.ValidationMessageFor(model => model.Password)
                   </div>
               </div>
               <div class="control-group">
                   <label class="control-label" for="ConfirmPassword">Confirm Password:</label>
                   <div class="controls">
                       @Html.PasswordFor(m => m.ConfirmPassword)
                       @Html.ValidationMessageFor(m => m.ConfirmPassword)
                   </div>
               </div>
               <br/> 
               <p>
                   <em>You will review all the information in the next screen before you pay.</em><br />
                  
               </p>
            
               <input type="submit" value="Continue" />
           </div>
       </div>
    </div>
}
 @if (Convert.ToBoolean(ConfigurationManager.AppSettings[Constants.UsePasswordStrengthKey]))
{
<script type="text/javascript">
    $(document).ready(function () {

        //BASIC
        $(".password_test").passStrength();

        
    });
		</script>
}